<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Students</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Add Students</h1>

    <form action="" method="post">
        <fieldset>Add A New Student</fieldset>
        <input type="text" placeholder="Full Name">
        <br>
        <input type="text" placeholder="Phone Number">
        <br>
        <input type="email" placeholder="Email">
        <br>
        <input type="password" placeholder="Password">

        <input type="submit" value="Add">
        <input type="reset" value="Clear">
    </form>
</body>
</html>